mule-prototype-s1/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
      xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
        http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.2/mule-cxf.xsd
        http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.2/mule-xml.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd">

    <mulexml:namespace-manager>
        <mulexml:namespace prefix="soapenv" uri="http://schemas.xmlsoap.org/soap/envelope/"/>
        <mulexml:namespace prefix="e" uri="http://example.com"/>
    </mulexml:namespace-manager>

    <vm:endpoint name="UserIdMappingVmEndpoint" path="UserIdMapping" exchange-pattern="request-response"/>

    <flow name="UserIdMapping">
        <vm:inbound-endpoint ref="UserIdMappingVmEndpoint"/>
        <append-string-transformer message="Mapped"/>
    </flow>

    <flow name="ServiceGateway">
        <http:inbound-endpoint address="http://localhost:8088" exchange-pattern="request-response"/>
        <cxf:proxy-service payload="envelope"/>
        <enricher target="#[header:mappedUserId]">
            <processor-chain>
                <choice>
                    <when expression="INBOUND:transformer=xpath" evaluator="header">
                        <expression-transformer evaluator="xpath" expression="//soapenv:Envelope/soapenv:Header/e:userId"/>
                    </when>
                    <otherwise>
                        <expression-transformer evaluator="string" expression="staticUserId"/>
                    </otherwise>
                </choice>
                <vm:outbound-endpoint ref="UserIdMappingVmEndpoint"/>
            </processor-chain>
        </enricher>
        <http:outbound-endpoint address="http://localhost:8130#[header:INBOUND:http.request]" exchange-pattern="request-response">
            <cxf:proxy-client payload="envelope"/>
        </http:outbound-endpoint>
    </flow>
</mule>
